<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body>
<br>
<br>
<br>
<br>
    <div class="main">
    <div class="container-fluid">
	<h1>Your Current Classes</h1>
	<ul>
		<% var inProg = user.classesInProgress %>
		<% for (var i = 0; i < inProg.length; i++){ %>
		<li> <%= inProg[i]._name %> </li>
		<% } %>
	</ul>

</body>

