<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body class="main" style="margin-top: 10vh;">
	<div class="page-header text-center">
		<h1><span class="fa"></span>Current Schedule</h1>
	</div>

	<ul class="container">
		<% for (var i=0; i<user.classesInProgress.length; i++) { %>
		<li class="row list-group-item col-md-10 col-md-push-1 col-md-pull-1">
			<div class="row">
				<div class="col-md-4">
					<h4><%= user.classesInProgress[i]._name %></h4>
				</div> <!--- .col ---!>
				<div class="col-md-3 pull-right">
					<h4 class="text-right"><%= user.classesInProgress[i]._subject %> <%=user.classesInProgress[i]._courseNumber %></h4>
				</div> <!--- .col ---!>
			</div> <!--- .row ---!>

			<div class="row">
				<p class="col-md-10 text-justify col-md-push-1">
					<%= user.classesInProgress[i]._description %>
				</p> <!--.col -->
			</div><!-- row --> 
		</li> <!-- list-group-item col-md-10 col-md-push-1 col-md-pull-1 -->
		<% } %>

	</ul> <!-- .container -->
	<input type="button" class="btn btn-primary pull-right col-md-2 col-md-pull-2" onClick="window.print()" value="Print">

</body>

