<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body>
    <div class="main">
	<h1>Your Current Classes</h1>
	<ul>
		<% for (var i = 0; i < user.classesInProgress.length; i++){ %>
		<li> <%= all_classes[i]._name %> </li>
		<% } %>
	</ul>

</body>

