h1, h2, h3, p {
	text-align: center;
	padding-bottom: 15px;
}
.buttonstyle {
	padding-top: 10px;
}
.addpadding {
	margin-top: 20vh;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}