.main span {
	background-color: #ffffff;
	border: 2px solid rgba(0,102,255,.3);
	color: #000;
	display: none;
	padding: 8px;
	position: absolute;
}

input {
	display: block
}

input:hover + span {
	display: inline-block;
	margin: 5px 20px 0 0px
}
.addpadding {
	margin-top: 30vh;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}