<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body class="main">
<div class="container">
	<div class="row page-header text-center">
		<h2>Update Major or Program Length</h2>
		<!-- show any messages that come back with authentication -->
		<% if (typeof message !== "undefined") { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
	</div>
		

    <div class="row">
    <form class="well col-md-3 col-md-push-2" action="/majorSubmit" method="post">
      <div class="select_join form-group">
        <select class="form-control" name="major">
          <option value="" disabled="disabled" selected="selected">Major</option>
          <option value="csc">Computer Science</option>
          <option value="ceng">Computer Engineering</option>
        </select>
      </div>
      <br>
      <button type="submit" class="pull-right btn btn-warning btn-lg">Submit</button>
    </form>

	<form class="well col-md-3 pull-right col-md-pull-2" action="/lengthSubmit" method="post">
      <div class="select_join form-group">
        <select class="form-control" name="progLength">
          <option value="" disabled="disabled" selected="selected">Program Length</option>
          <option value="unknown">Unknown</option>
          <option value="1">1 yr</option>
		  <option value="2">2 yrs</option>
		  <option value="4">4 yrs</option>
		  <option value="5">5 yrs</option>
        </select>
      </div>
      <br>
      <button type="submit" class="pull-right btn btn-warning btn-lg">Submit</button>
    </form>
    </div>



</div>

</body>
</html>
