<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>
	<br>
	<br>
	<br>
    <div class="main">
	<h1>Courses Left to Take</h1>
	<ul>
		<% for (var i = 0; i < all_courses.length; i++){ %>
		<li> 
			<% if (classes_taken.indexOf(all_courses[i]) == -1){ %>
			<b> <%= all_courses[i]._name %>
			<% } %>
		</li>
		<% } %>
	</ul>

</body>

