<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
	<body>
		<br>
		<br>
		<div class="main" style="padding-top: 400px;">
			<div class="addpadding" >
				<h2>Classes Left to Take</h2>
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th>Class ID</th>
							<th>Class Name</th>
							<th>Registered</th>
							<th>Unregistered</th>
						</tr>
					<% for (var i = 0; i < all_classes.length; i++){ %>
						<% if (classes_taken.indexOf(all_classes[i]) == -1){ %>
						<tr> 
							<td> <%= all_classes[i]._subject %> <%= all_classes[i]._courseNumber %> </td>
							<td> <%= all_classes[i]._name %> </td>
							<% if (classes_registered.indexOf(all_classes[i]) != -1){%> 
							<td > <center>&#10004; </center></td> <td></td>
							<% } else { %>
							<td> </td> <td > <center>&#10004; </center></td>
							<% } %>
						</tr>
						<% } %>
					<% } %>
				</table>
				</div>
		</div>

	</body>
</html>

