<!doctype html>
<html>
<head>
  <% include ./partials/navbar %>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h3><span class="fa fa-lock"></span>Error</h3>
	</div>

</div>
</body>
</html>