<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>
<div class="main">
	<div class="center addpadding">
		<h2>Home</h2>
		<h3>Major: </h3>
		<% if ( typeof message !== "undefined" ) { %>
		<h4> <%= message %> </h4>
		<% } %>

		<h4>
		<div class="btn-group-vertical">
			<a type="button" class="btn btn-primary" href="major">Select / Change Major</a>
			<a type="button" class="btn btn-primary"  href="classes_current">Classes Current Status</a>
			<a type="button" class="btn btn-primary"  href="classes_left">Classes Left to Take</a>
			<a type="button" class="btn btn-primary" href="track">Track Progress</a>
			<a type="button" class="btn btn-primary"  href="schedule">Create Schedule</a>
		</div>
	</div>
</div>

</body>
</html>
