<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PROFLIE</title>
</head>
<body>
</body>
</html>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
    $.ajax({
        type: "GET",
        //url: 'https://www.example.com',
        dataType: 'json',
        contentType: "text/html",
        crossDomain:'true',
        success: function (data) {
            $(".result").html(data);
        }
    });
</script>

<div class="result"></div>