<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>
	<br>
	<br>
	<br>
    <div class="main">
	<h1>TEST</h1>
	<ul>
		<% for (var i = 0; i < all_classes.length; i++){ %>
		<li> <%= all_classes[i]._name %> </li>
		<% } %>
	</ul>

</body>

