<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>
	<br>
	<br>
	<br>
    <div class="main">
	<h1>TEST</h1>
		<% for (var i = 0; i < courses.length; i++){ %>
		<%= courses[i].name %>
	<% } %>
</body>

