<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="main">
	<div class="center addpadding">
		<h2>Create Account</h2>
		<div class="well">
			<form action="/createAccount" method="post">
				<div class="form-group">
					<label for="userName">Username (School Email)</label>
					<input class="form-control" type="text" name="userName" placeholder="example@trojans.dsu.edu">
				</div>
				<div class="form-group">
					<label for="password">Create Password</label>
					<input class="form-control" type="text" name="password" placeholder="Password">
					<span>Password must be eight characters, include a special character, a capital letter, and a number.</span>
				</div>
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input class="form-control" type="text" name="firstname" placeholder="Jane">
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input class="form-control" type="text" name="lastname" placeholder="Doe">
				</div>
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
		</div>
	</div>
</div>

</body>
</html>