<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./navbar %>
</head>
<body>

<div class="main">
	<div class="center addpadding">
		<h2 class="center">Track Progress</h2>
		<p style="margin-top: 10px;" class="center">(Blank) credits are currently needed to ensure graduation date of (Blank)<p>
		<p class="center">Which in turn means taking (blank) credits each semester.<p>
		<button type="button" class="btn btn-primary" onclick="classesleft.html">Classes Left To Take</button>
	</div>
</div>

</body>
</html>