<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body>
<br>
<br>
<div class="main">
	<div class="center addpadding">
		<h3>Update Major or Program Length</h3>
		

<form action="/changePassword" method="post">
	<div class="input-group form-group">
	  <label class="input-group-addon">New Password</label>
	  <input aria-describedby="basic-addon2" type="password" class="form-control" name="password">
	</div>
      </div>
      <div class="row">
	<button type="submit" class="btn btn-warning btn-lg pull-right">Update</button>
      </div>
    </form>



	</div>
</div>

</body>
</html>
