<!doctype html>
<html>
  <head>
    <% include ../partials/navbar %>
  </head>
  <body>
    <br>
      <br>
      <br>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- SIGNUP FORM -->
    <form action="/signup" method="post">
      <div class="form-group">
        <div class="form-group">
          <label>First Name*</label>
          <input type="text" class="form-control" name="firstName">
		</div>
        <div class="form-group">
          <label>Last Name*</label>
          <input type="text" class="form-control" name="lastName">
		</div>
        <label>Email*</label>
        <input type="text" class="form-control" name="email">
		</div>
      <div class="form-group">
        <label>Password*</label>
        <input type="password" class="form-control" name="password">
		</div>
      <br>
      <div class="select_join">
        <select name="major">
          <option value="" disabled="disabled" selected="selected">Major</option>
          <option value="csc">Computer Science</option>
          <option value="ceng">Computer Engineering</option>
        </select>
      </div>
      <br>
      <div class="select_join">
        <select name="progLength">
          <option value="" disabled="disabled" selected="selected">Program Length</option>
          <option value="0">Unknown</option>
          <option value="2">2 yrs</option>
          <option value="4">4 yrs</option>
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
    </form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
